.rect{
    width: 200px;
    height: 150px;
    background-color: lightgreen;
    display:flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    text-align:center;
    margin-top: 20px;
  }
  
  body, button{
    font-family: Arial, Sans-Serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .button-cont{
    width: 200px;
    margin: 20px auto;
  }
  
  button{
    width:200px;
    height:100px;
  }