.img-cont{
    width: 200px;
    margin: 0 auto;
    border: 5px solid black;
    height: 300px;
  }
  
  .img-cont img{
    width: 100%;
    height: 100%;
  }
  
  body, button{
    font-family: Arial, Sans-Serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .button-cont{
    width: 200px;
    margin: 20px auto;
  }
  
  button{
    width:200px;
    height:100px;
  }