p{
    font-size: 28px;
    font-family: Arial, sans-serif;
  }
  
  .azul{
    color: blue;
  }
  
  .naranja{
    color: white;
  }
  
  .rojo{
    color: red;
  }
  
  .naranja{
    color: orange;
  }