.col{
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    color:#fff;
    float:left;
    margin: 10%;
    width: 30%;
}
.one{
  background-color: #e95b33;
}

.two{
  background-color: #40b7d7;
}

  @media screen and (max-width: 400px) { 
    .col{
      float: none;
      margin: 0 auto;
      width: 80%;
    }
  }